<h2>Posts <a href="/posts/new">(+)</a></h2>



  <% @posts.each do |post| %>
      <%= link_to post.title, post %>

    <br>

      <p>
      <%= post.content  %>
      </p>
      <br>
      <br>
      <p>
      <%= @comments.post.content %>
      </p>

    <br>
  <% end %>
